.card-list-wrapper {
  width: 100%;
  /* height: 80%; */
}
.card-list-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  /* border: #ff24d3 1px solid; */
}
