.navbarWrapper {
  --app-height: 715px;
  color: white;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: solid;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  border-right: 1px solid #f1e7d1;
  z-index: 3;
  background-color: black;
  /* 자현이 작품 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbarMain img {
  padding-top: 20%;
  width: 50%;
}

.navbarLogo img {
  width: 40%;
}

.navbarMy img {
  padding-bottom: 20%;
  width: 40%;
}

.nav__toggle {
  /* 토글 버튼에 대한 스타일을 여기에 추가하세요 */
}

.nav__dot {
  /* 도트 이미지에 대한 스타일을 여기에 추가하세요 */
}

.dotLink {
  /* 링크 버튼에 대한 스타일을 여기에 추가하세요 */
}
