version: '3' # docker-compose 버전 지정

services:  # docker-compose의 경우 docker 컨테이너로 수행될 서비스들은 services 하위에 기술

  elasticsearch:
    restart: unless-stopped
    build: ./elastic/elasticsearch
    container_name: elasticsearch
    volumes:
      - ./elastic/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./elastic/elasticsearch/config/dict.txt:/usr/share/elasticsearch/config/dict.txt
      - ./elastic/elasticsearch/data:/usr/share/elasticsearch/data
    environment:
      - TZ=Asia/Seoul
      - opendistro_security.disabled=true
      #      - ELASTIC_PASSWORD=elasticpassword
      - node.name=elasticsearch
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - opendistro_security.ssl.http.enabled=false
      - opendistro_security.ssl.transport.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"

  kibana:
    restart: unless-stopped
    build: ./elastic/kibana
    container_name: kibana
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./elastic/kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,z
    ports:
      - "5601:5601" ## 키바나의 기본포트는 5601 이다.
    depends_on:
      - elasticsearch

  logstash:
    restart: unless-stopped
    build: ./elastic/logstash
    container_name: logstash
    volumes:
      - ./elastic/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./elastic/logstash/pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./elastic/logstash/drivers/:/opt/logstash/vendor/jar/jdbc/
    environment:
      - TZ=Asia/Seoul
      - "LS_JAVA_OPTS=-Xmx256m -Xms256m"
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch
