version: '3' # docker-compose 버전 지정

services:  # docker-compose의 경우 docker 컨테이너로 수행될 서비스들은 services 하위에 기술

  zookeeper: # 서비스 이름. service 하위에 작성하면 해당 이름으로 동작
    image: wurstmeister/zookeeper # 도커 이미지
    container_name: zookeeper
    ports: # 외부포트:컨테이너내부포트
      - "2181:2181"
#    healthcheck:
#      test: [ "CMD-SHELL", "echo 'ruok' | nc localhost 2181 | grep -q imok" ]
#      interval: 10s
#      timeout: 10s
#      retries: 5

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports: # 외부포트:컨테이너내부포트
      - "9092:9092"
    environment: # kafka 브로터를 위한 환경 변수 지정
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 # kafka가 zookeeper에 커넥션하기 위한 대상을 지정
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
#        condition: service_healthy # Zookeeper 서비스가 건강한 상태일 때만 시작합니다.
    restart: always