.navbar-wrapper {
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /* adjust this value based on when you want the switch to happen */
  .navbar-body {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
