.navbar-body-wrapper {
  font-family: "Freckle Face";
  font-weight: lighter;
  color: #fff;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  border-right: 1px solid #c3baa5;
  background-color: black;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}
.navbar-body-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration-line: none;
  padding-top: 30%;
  color: #fff;
  cursor: pointer;
}
.navbar-body-main:hover {
  color: #f1e7d1;
}

.navbar-body-main p {
  width: 50%;
}
.navbar-body-logo {
  /* writing-mode: vertical-rl; */
  /* text-orientation: upright; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-body-logo:hover {
  color: #f1e7d1;
}

.navbar-body-my {
  padding-bottom: 30%;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar-body-my:hover {
  color: #f1e7d1;
}

.navbar-body-active {
  color: #f1e7d1;
}
