.navbar-body-wrapper {
  --app-height: 715px;
  color: white;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: solid;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  pointer-events: auto;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  border-right: 1px solid #c3baa5;
  background-color: black;
  /* 자현이 작품 */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}
.navbar-body-main img {
  padding-top: 30%;
  width: 50%;
}

.navbar-body-logo img {
  width: 40%;
}

.navbar-body-my img {
  padding-bottom: 30%;
  width: 40%;
}
