@media (max-width: 1024px) {
  .main-sixth-searchbar {
    margin-top: -25%;
  }
}

.main-sixth-wrapper {
  height: 100vh;
  color: white;
}

.main-sixth-box {
  height: 10%;
  color: #fff;
  text-align: left;
  padding-left: 3%;
  font-weight: lighter;
}
.main-sixth-box h1 {
  text-align: left;
  padding-left: 3%;
  font-weight: lighter;
  padding-top: 3%;
}

.SixthMainBox {
  height: 60%;
  display: flex;
}
.main-sixth-left {
  width: 50%;
  font-family: "Freckle Face";
  text-align: left;
  padding-left: 3%;
}
.main-sixth-left h2 {
  font-size: 10vw;
  /* font-size: 10rem; */
  /* font-size: calc(100%-); */
  color: #c3baa5;
}
.main-sixth-left h1 {
  font-size: 13vw;

  width: auto;
  margin-top: -5%;
}
.main-sixth-left h1:hover {
  /* font-size: 10rem; */
  color: #c3baa5;
}

.main-sixth-right {
  width: 50%;
  /* align-self: center; */
  justify-self: center;
}
.main-sixth-right img {
  border-radius: 20px;
}
.main-sixth-right-img-right {
  position: relative;
  transform: rotate(-20deg);
  left: 10%;
  top: 0;
}
.main-sixth-right-img-middle {
  position: relative;
  top: 5%;
  z-index: 1;
}
.main-sixth-right-img-left {
  position: relative;
  transform: rotate(20deg);
  right: 10%;
}

.main-sixth-searchbar {
  /* height: 30%; */
  display: flex;
  height: 10%;
}
