.main-fifth-wrapper {
  height: 300vh;
  color: #646464;
  margin-top: 3%;
}
.main-fifth-title-box {
  height: 6%;
  text-align: left;
  padding-left: 3%;
}
.main-fifth-title-box h1 {
  color: #c3baa5;
  font-size: 4rem;
  font-style: italic;
  font-weight: bolder;
  font-family: "SBAggroB";
}
.main-fifth-title-box h2 {
  /* color: #646464; */
  font-size: 1.8rem;
  font-weight: lighter;
}

hr {
  background: #c3baa5;
  height: 2px;
  border: 0;
}
.main-fifth-gamsung-box {
  height: 25%;
  display: flex;
  text-align: left;
  padding-left: 3%;
  justify-content: space-between;
}

.main-fifth-gamsung-left {
  /* color: #363636; */
  width: 30%;
  padding-right: 3%;
}

.main-fifth-gamsung-right {
  width: 50%;
  text-align: right;
  font-size: 1.5rem;
  line-height: 1.2em;
  font-family: "Godo";
  padding-right: 3%;
  /* position: relative; */
  /* left: 0; */
}

.main-fifth-keyword-imgbox {
  height: 55%;
  font-family: "BMDOHYEON";
  font-size: 10rem;
  color: #c3baa5;
}

.main-fifth-keyword-imgbox img {
  border-radius: 10px;
  width: 200px;
  height: 15vw;
  object-fit: cover;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: 10%; */
}
.main-fifth-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #c3baa5;
  text-decoration: none;
  font-size: 15vw;
}
.main-fifth-gamsung-title {
  font-weight: bolder;
  font-family: "SBAggroB";
  /* font-weight: normal; */
}
.main-fifth-gamsung-more {
  font-size: 10vw;
  color: #363636;
  font-family: "SBAggroB";
  font-weight: 800;
  padding-top: 10%;
  padding-bottom: 10%;
}
.main-fifth-gamsung-content {
  font-family: "NEXON Lv2 Gothic";
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 3%;
}
@media (max-width: 1200px) {
  .main-fifth-gamsung-right {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .main-fifth-gamsung-box {
    height: 18%;
  }
  .main-fifth-gamsung-right {
    font-size: 1rem;
  }
  .main-fifth-gamsung-content {
    font-size: 0.7rem;
  }
  .main-fifth-gamsung-title {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .main-fifth-gamsung-right {
    font-size: 0.8rem;
  }
  /* .main-fifth-gamsung-content {
    font-size: 0.7rem;
  }
  .main-fifth-gamsung-title {
    font-size: 0.7rem;
  } */
}
