.main-third-wrapper {
  height: 100vh;
  color: white;
  /* color: #c3baa5; */
  padding-left: 3%;
}
.main-third-storeshop {
  height: 100%;
  width: 100%;
  padding-right: 6%;
  /* border: #ff24d3 1px solid; */
}
.main-third-wrapper h1 {
  font-weight: bolder;
  font-style: italic;
  font-size: 7vw;
  text-align: left;
}

.main-third-wrapper h5 {
  padding-left: 2%;
  font-size: 1.5vw;
  text-align: left;
  font-weight: lighter;
}
