.MainSixth {
  height: 100vh;
  color: white;
}

.SixthTitleBox {
  height: 10%;
}
.SixthMainBox {
  height: 60%;
  display: flex;
}
.SixthMainleft {
  width: 50%;
}
.SixthMainright {
  width: 50%;
}

.SixthSearchBox {
  height: 30%;
}
