.main-fourth-wrapper {
  height: 140vh;
  color: black;
}

.main-fourth-title-box {
  height: 10%;
  text-align: left;
  padding-left: 3%;
}

.main-fourth-title-box h1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: bolder;
  font-family: "SBAggroB";
}

.title1 {
  color: #646464;
}

.title2 {
  color: #ff7c7c;
}
.SeeMoreButtonBox {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SeeMoreButton {
  background-color: white;
  font-size: 2.2rem;
  font-weight: normal;
  /* font-family: "SBAggroB"; */
  padding: 1%;
}

.StatisticsNum {
  width: 50%;
  display: flex;
}

.MyStatistics,
.AllUserStatistics {
  width: 50%;
}

.MyStatistics-written,
.MyStatistics-transaction,
.AllUserStatistics-written,
.AllUserStatistics-transaction {
  height: 50%;
}

.StatisticsKeyword {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StatisticsBox {
  height: 50%;
  display: flex;
}

.MovigImgBox {
  height: 35%;
}

.MovingImgs {
  height: 100%;
}

@media (max-width: 1200px) {
  .main-fourth-title-box h1 {
    font-size: 3rem;
  }
  .SeeMoreButton {
    font-size: 1.9rem;
  }
}
@media (max-width: 1024px) {
  .main-fourth-title-box h1 {
    font-size: 2rem;
  }
  .SeeMoreButton {
    font-size: 1.3rem;
  }
}
