.MainFourth {
  height: 140vh;
  color: black;
}

.FourthTitleBox {
  height: 10%;
}
.SeeMoreButtonBox {
  height: 5%;
}
.StatisticsNum {
  width: 50%;
}
.StatisticsKeyword {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StatisticsBox {
  height: 50%;
  display: flex;
}

.MovigImgBox {
  height: 35%;
}

.MovingImgs {
  height: 100%;
}
