.main-fourth-wrapper {
  height: 140vh;
  color: black;
}

.main-fourth-title-box {
  /* height: 25%; */
  text-align: left;
  padding-left: 3%;
}

.main-fourth-title-box h1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: bolder;
  font-family: "SBAggroB";
}

.title1 {
  color: #646464;
}

.title2 {
  color: #ff7c7c;
}
.SeeMoreButtonBox {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.SeeMoreButton {
  background-color: #fff;
  font-size: 2.2rem;
  /* font-weight: normal; */
  font-family: "LotteMartHappy";
  padding: 1%;
}

.main-fourth-title-more {
  font-family: "LotteMartHappy";
  padding: 1%;
  background-color: #fff;
  font-size: 2rem;
}

.StatisticsNum {
  width: 55%;
  display: flex;
  margin-left: 5%;
  /* height: auto; */
}

.MyStatistics,
.AllUserStatistics {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.MyStatistics-written,
.MyStatistics-transaction,
.AllUserStatistics-written,
.AllUserStatistics-transaction {
  height: 50%;
}

.StatisticsKeyword {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StatisticsBox {
  margin-top: 1rem;
  height: 30%;
  display: flex;
}

.MovigImgBox {
  height: 35%;
}

.MovingImgs {
  height: 100%;
}

.StatisticsNum h1 {
  font-size: 2.7rem;
  text-align: left;
  font-style: italic;
  font-family: "GoryeongStrawberry";
  letter-spacing: 3px;
}
.StatisticsNum h2 {
  font-size: 1.4rem;
  text-align: left;
  font-weight: normal;
  padding-top: 5%;
}

@media (max-width: 1200px) {
  .main-fourth-title-box .title1 {
    font-size: 3rem;
  }
  .SeeMoreButton {
    font-size: 1.9rem;
  }
}
@media (max-width: 1024px) {
  .main-fourth-title-box .title1 {
    font-size: 1.5rem;
  }
  .main-fourth-title-box .title2 {
    font-size: 1.3rem;
  }
  .SeeMoreButton {
    font-size: 1.3rem;
  }
  .main-fourth-title-more {
    font-size: 1rem;
  }
  .StatisticsNum h1 {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .StatisticsNum h2 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .StatisticsBox {
    justify-content: space-around;
  }
  .StatisticsKeyword {
    width: 60%;
  }
  .StatisticsNum {
    flex-direction: column;
    width: 30%;
  }
  .StatisticsNum h1 {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .StatisticsNum h2 {
    font-size: 0.3rem;
  }
  .MyStatistics,
  .AllUserStatistics {
    width: 80%;
    height: 50%;
  }
}
