.Cloud-wrapper {
  width: calc(100% - 4rem);
  margin-left: 4rem;
}
.Cloud {
  height: 100vh;
}

.random {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 8vw;
  align-items: center;
  /* color: white; */
  font-size: 2vw;
  font-weight: 500;
  /* background-color: transparent; */
  opacity: 0.8;
}
