.create-dream-diary {
  width: 100vw;
  height: 100vh;
  background-color: #f1e7d1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.create-dream-diary-main {
  display: flex;
  padding-left: 4rem;
  padding-right: 2rem;
  width: 100%;
}

.create-dream-diary-main::-webkit-scrollbar {
  display: none;
}

.create-dream-diary-left {
  width: 0vw;
  transition: width 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.on-diary {
  width: 50%;
}

.create-dream-diary-left-top {
  height: 50vh;
}

.create-dream-diary-left-bottom {
  height: 50vh;
}

.create-dream-diary-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f1e7d1;
}

@media (max-width: 1024px) {
  .create-dream-diary-main {
    display: flex;
    flex-direction: column;
  }

  .create-dream-diary-left {
    display: flex;
    width: 100%;
    height: 0;
    transition: height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .on-diary {
    height: 30vh;
  }

  .create-dream-diary-right {
    width: 100%;
    height: 70vh;
  }

  .create-dream-diary-left-top {
    height: 30vh;
    width: 50%;
  }

  .create-dream-diary-left-bottom {
    height: 30vh;
    width: 50%;
  }
}
