.MyPage-main {
  height: 100vh;
}

.mypage-top {
  height: 40%;
  display: flex;
  margin-left: 4rem;
  background-color: #f1e7d1;
}

.mypage-bottom {
  height: 60%;
  background-color: black;
  margin-left: 4rem;
  color: white;
}
.mypage-bottom-diaryDrr {
  margin: auto;
}
