.MyPage-main {
  height: 100vh;
}

.mypage-top {
  height: 40%;
  display: flex;
  margin-left: 4rem;
  background-color: #f1e7d1;
}

.mypage-bottom {
  height: 60%;
  background-color: black;
  margin-left: 4rem;
  color: white;
}
.mypage-bottom-diaryDrr {
  margin: auto;
}
.diary-drrlist-wrapper {
  padding-top: 5%;
}
.diary-drrlist-nickname {
  width: 10%;
  text-align: left;
  padding-left: 3%;
}
.diary-drrlist-title {
  text-align: left;
  width: 20%;
}
.diary-drrlist-point {
  /* text-align: left; */
  width: 15%;
}
.diary-drrlsit-keyword {
  text-align: right;
  width: 15%;
  padding-right: 3%;
}
.diary-drrlist-img {
  width: 40%;
}
