.search-result-wrapper {
  width: calc(100%-4rem);
  /* height: 100vh; */
  background-color: #000000;
}

@media (max-width: 1024px) {
  .search-result-wrapper {
    margin-left: 4rem;
    height: 110vh;
  }
}
