@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR&display=swap");
@import "./reset.css";

.body {
  background-color: #111111;
  font-family: "Fjalla One", "Noto Sans KR", sans-serif;
} */

#intro-main {
  display: flex;
  flex-direction: column;
  margin: 54px auto 140px;
  width: 300px;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  gap: 20px;
}

#join-us-text {
  margin-top: 73px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

#intro-main p {
  text-align: center;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#down-arrow-icon {
  width: 33px;
  animation: upAndDown 2s infinite;
}
#list-item-wrapper {
  margin: 0 auto 500px;
  width: 383px;
}

.list-item {
  font-size: 48px;
  font-weight: 600;
}

.list-item#on {
  color: white;
}
