.detail-etc {
  display: flex;
  align-items: center;
  font-family: Pretendard Variable;
  margin-top: 3%;
}

.like-icon:hover {
  cursor: pointer;
}

.like-count {
  font-size: 1.5rem;
  margin: 0 2rem 0 1rem;
  font-weight: bold;
  font-family: "Godo";
}

.etc-buy {
  margin: 0 1rem;
  background-color: #ff7c7c;
  border: none;
  width: 7vw;
  height: 5vh;
  font-size: 1.2vw;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-family: Pretendard Variable;
}

@media (max-width: 1024px) {
  .detail-etc {
    /* display: flex;
    flex-direction: column; */
  }

  .etc-buy {
    margin: 1rem 0;
    width: 15vw;
    font-size: 3vw;
    border-radius: 15px;
  }
}
