.LoginForm {
  display: flex;
  height: 100vh;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 580px;
  height: 700px;
  padding: 40px 50px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.login-left-section {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right-section {
  background-color: black;
  flex-basis: 70%;
  position: relative;
}
